
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    padding: 20px;
    text-align:center;
    color:white;
    background-color: green;
}
footer{
    background-color:black;
    color:white ;
}

p{
    text-align: center ;
}
h2{
    text-align: center;
}